body {
    background-color: #5a8ac0;
}
.skewed {
    position: absolute;
    display: inline-block;
}
.shifted-in {
    position: absolute;
    z-index: 14;
    top: 100px;
    left: 225px;
    display: inline-block;
//    transform: rotateZ(-30deg);
}

span.customSelect { 
    //font:12px sans-serif;
    font-size:15px;
    background:#adc5e0 url(../images/blah-arrow.png) right center no-repeat;
    border: solid 2px #1b3e64;
    color: #173a61;
    padding: 5px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px 2px;
    width: 75%;
    margin-left: 10%;
    margin-right: 10%;
}
span.customSelectFocus {
    background-color: #d8e5f4;
    color: #173a61;
    font-weight: bold;
    border: solid 3px #173a61;
    box-shadow: inset 0 0 0 1px #90adcd;
}
#temp-controls {
    width: 100%
}
#human-front, #chair-front {
    float: left;
    margin-left: 20px;
}
#human-side, #chair-side {
    float: right;
    margin-right: 20px;
}
.mxrx {
    display: inline-block;
    margin: 40px;
    padding-top: 0px;
    border: solid 3px #1b3e64;
    padding-bottom: 10px;
    background-color: #5a8ac0;
    width: 15%;
}
.button-holder {
    text-align: center;
}
.button-holder input {
    //margin-top: 150px;
    margin-bottom: 10px;
}
.mxrx label {
    margin-top: 8px;
    display: block;
    color: #1b3e64;
    width: 100%;
}
.mxrx label.labelFocus {
    font-weight: bold;
    color: #173a61;
}
.mxrx input, .mxrx label {
    color: #173a61;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}
.mxrx input[type="text"] {
    padding: 5px;
    background-color: #adc5e0;
    border: solid 2px #1b3e64;
}
.mxrx input[type="text"]:focus,
.mxrx input[type="text"].focus {
    background-color: #d8e5f4;
    color: #173a61;
    font-weight: bold;
    border: solid 3px #173a61;
    box-shadow: inset 0 0 0 1px #90adcd;
}
.mxrx input[type="text"].unset {
    border-color: #b71e06;
}
.tmp-internal h3 {
    color: #5a8ac0;
    font-weight: bold;
}
.tmp-internal {
    background-color: #173a61;
    //padding: 0 5;
}
.t-wrap {
    background-color: #173a61;
    padding-bottom: 8px;
}
.app-title {
    padding: 0 5;
}
.app-title h2 p {
    display: inline-block;
    margin: 0 0;
}
.app-title h2 p::first-letter {
    font-weight: bold;
}
.app-title h2 {
    margin: 0px;
    font-family: arial;
    font-style: italic;
    font-size: 32px;
    font-weight: normal;
    color: #5a8ac0;
}
.i-app {
    background-color: #5a8ac0;
    min-height: 640px;
    text-align: center;
}
.c-wrap {
    margin-left: auto;
    margin-right: auto;
    //position: relative;
}
h3 {
    margin: 0px;
    color: #173a61;
    font-weight: normal;
}

.ui-button, .button-holder input {
    background-image: none;
    background-color: #1b3e64;
    -moz-box-shadow: inset 1px 1px 0px 0px #90adcd;
    -webkit-box-shadow: inset 1px 1px 0px 0px #90adcd;
    -box-shadow: inset 1px 1px 0px 0px #90adcd;
    -webkit-border-top-left-radius: 0px;
    -moz-border-radius-topleft: 0px;
    -border-top-left-radius: 0px;
    -webkit-border-top-right-radius: 0px;
    -moz-border-radius-topright: 0px;
    -border-top-right-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    -border-bottom-right-radius: 0px;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-radius-bottom-left: 0px;
    -border-radius-bottom-left: 0px;
    text-indent: 0;
    border: 1px solid #1b3e64;
    color: #90adcd;
    font-family: Trebuchet MS;
    font-size: 15px;
    font-weight: bold;
    font-style: normal;
    display: inline-block;
    height: 55px;
    margin: 5px;
}

span.ui-icon {
    display: inline-block;
    margin-right: 5px;
}

.btn-box {
    width: 13%;
}

.button-holder input.active {
    background-color: #2b4f77;
}

.btn-box:hover, .ui-button:hover {
    background-color: #173a61;
}

#slider {
    display: inline-block;
    width: 13%;
}

#img-source {
    display: none;
}

#img-source span {
    display: block;
}

canvas {
    display: inline-block;
    margin: 15px auto;
    position: absolute;
}
#container {
    position: absolute;
    margin: auto;
    min-width: 820px;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height:100%;
}

#image-upload {
    display: none;
}

.ui-icon.white{
    background-image: url('icons/white.png');
}

#video-wrapper button {
    width: 45%;
}
