<div id="chair-side" class="mxrx">
    <form>
        <div class="tmp-internal"><h3>Side Measures</h3></div>
        <label for="seat-back-height">Seat Back Height</label>
        <input type="text" id="seat-back-height" name="seatBackHeight" value="<%= seatBackHeight %>" />
        <label for="seat-depth">Seat Depth</label>
        <select id="seat-depth" name="seatDepth">
            <% _.each([12, 13, 14, 15, 16, 17, 18, 19], function(num) { %>
            <option value="<%= num %>" <% if(seatDepth === num) print('selected') %> ><%= num %>"</option>
            <% }); %>
            <option value="20" disabled >20"</option>
        </select>
        <label for="foam-height">Foam Height</label>
        <select id="foam-height" name="foamHeight">
            <option value="0.4" <% if(foamHeight === 0.4) print('selected') %> >No Cushion</option>
            <option value="2" <% if(foamHeight === 2) print('selected') %> >2" Cushion</option>
        </select>
        <label for="seat-back">Seat Back</label>
        <select id="seat-back" name="seatBackWidth">
            <option value="0.4" <% if(seatBackWidth === 0.4) print('selected') %> >No Cushion</option>
            <option value="2" <% if(seatBackWidth === 2) print('selected') %> >2" Cushion</option>
        </select>
        <label for="wheel-diameter">Wheel Diameter</label>
        <select id="wheel-diameter" name="wheelDiameter">
            <% _.each([20, 22, 24, 25, 26], function(num) { %>
            <option value="<%= num %>" <% if(wheelDiameter === num) print('selected') %> ><%= num %>"</option>
            <% }); %>
        </select>
        <!-- This is actually COG -->
        <label for="axle-distance">Axle Distance</label>
        <select id="axle-distance" name="axleDistance">
            <option value="0.0" disabled>0"</option>
            <option value="0.5" disabled>0.5"</option>
            <% _.each([1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0], function(num) { %>
            <option value="<%= num %>" <% if(axleDistance === num) print('selected') %> ><%= num %>"</option>
            <% }); %>
        </select>
        <label for="ground-clr">Ground Clearance</label>
        <input type="text" id="ground-clr" name="groundClr" value="<%= groundClr %>" readonly />
    </form>
</div>
<div id="chair-front" class="mxrx">
    <form>
        <div class="tmp-internal"><h3>Front Measures</h3></div>
        <label for="seat-width">Seating Surface Width</label>
        <select id="seat-width" name="seatWidth">
            <% _.each([12, 13, 14, 15, 16, 17, 18, 19], function(num) { %>
            <option value="<%= num %>" <% if(seatWidth === num) print('selected') %> ><%= num %>"</option>
            <% }); %>
            <option value="20" disabled >20"</option>
        </select>
    </form>
</div>
