<div id="human-side" class="mxrx">
    <div class="tmp-internal"><h3>Side Measures</h3></div>
    <form>
        <label for="upper-arm-length">Upper Arm Length</label>
        <input type="text" id="upper-arm-length" name="upperArmLength" value="<%= upperArmLength %>" tabindex="3"/>
        <label for="lower-arm-length">Forearm Length</label>
        <input type="text" id="lower-arm-length" name="lowerArmLength" value="<%= lowerArmLength %>" tabindex="4"/>
        <label for="torso-length">Torso Length</label>
        <input type="text" id="torso-length" name="torsoLength" value="<%= torsoLength %>" tabindex="5"/>
        <label for="trunk-depth">Trunk Depth</label>
        <input type="text" id="trunk-depth" name="trunkDepth" value="<%= trunkDepth %>" tabindex="6"/>
        <label for="contact-point">Forward Contact</label>
        <input type="text" id="contact-point" name="contactPoint" value="<%= contactPoint %>" tabindex="7"/>
        <label for="thigh-depth">Thigh Depth</label>
        <input type="text" id="upper-leg-length" name="upperLegLength" value="<%= upperLegLength %>" tabindex="8"/>
        <label for="lower-leg-length">Lower Leg Length</label>
        <input type="text" id="lower-leg-length" name="lowerLegLength" value="<%= lowerLegLength %>" tabindex="9"/>
    </form>
</div>
<div id="human-front" class="mxrx">
    <div class="tmp-internal"><h3>Front Measures</h3></div>
    <form>
        <label for="chest-width">Chest Width</label>
        <input type="text" id="chest-width" name="chestWidth" value="<%= chestWidth %>" tabindex="1"/>
        <label for="hip-width">Hip Width</label>
        <input type="text" id="hip-width" name="hipWidth" value="<%= hipWidth %>" tabindex="2"/>
    </form>
</div>
