<div id="summary-patient" class="mxrx">
    <div class="tmp-internal"><h3>Patient</h3></div>
    <label for="upper-arm-length">Upper Arm Length</label>
    <span id="upper-arm-length" name="upperArmLength"><%= person.upperArmLength %>"</span>
    <label for="lower-arm-length">Forearm Length</label>
    <span id="lower-arm-length" name="lowerArmLength"><%= person.lowerArmLength %>"</span>
    <label for="torso-length">Torso Length</label>
    <span id="torso-length" name="torsoLength"><%= person.torsoLength %>"</span>
    <label for="trunk-depth">Trunk Depth</label>
    <span id="trunk-depth" name="trunkDepth"><%= person.trunkDepth %>"</span>
    <label for="contact-point">Forward Contact</label>
    <span id="contact-point" name="contactPoint"><%= person.contactPoint %>"</span>
    <label for="thigh-depth">Thigh Depth</label>
    <span id="upper-leg-length" name="upperLegLength"><%= person.upperLegLength %>"</span>
    <label for="lower-leg-length">Lower Leg Length</label>
    <span id="lower-leg-length" name="lowerLegLength"><%= person.lowerLegLength %>"</span>
    <label for="chest-width">Chest Width</label>
    <span id="chest-width" name="chestWidth"><%= person.chestWidth %>"</span>
    <label for="hip-width">Hip Width</label>
    <span id="hip-width" name="hipWidth"><%= person.hipWidth %>"</span>
</div>
<div id="summary-chair" class="mxrx">
    <div class="tmp-internal"><h3>WheelChair</h3></div>
    <label for="seat-back-height">Seat Back Height</label>
    <span id="seat-back-height" name="seatBackHeight"><%= chair.seatBackHeight %></span>
    <label for="seat-depth">Seat Depth</label>
    <span id="seat-depth" name="seatDepth"><%= chair.seatDepth %></span>
    <label for="foam-height">Foam Height</label>
    <% if(chair.foamHeight === 0.4) { print('selected') %>
    <span id="foam-height" name="foamHeight">No Cushion</span>
    <% } else if(chair.foamHeight === 2) { %>
    <span id="foam-height" name="foamHeight">2" Cushion</span>
    <% } %>
    <label for="seat-back">Seat Back</label>
    <% if(chair.seatBackWidth === 0.4) { print('selected') %>
    <span id="seat-back" name="seatBackWidth">No Cushion</span>
    <% } else if(chair.seatBackWidth === 2) { %>
    <span id="seat-back" name="seatBackWidth">2" Cushion</span>
    <% } %>
    <label for="wheel-diameter">Wheel Diameter</label>
    <span id="wheel-diameter" name="wheelDiameter"><%= chair.wheelDiameter %></span>
    <!-- This is actually COG -->
    <label for="axle-distance">Axle Distance</label>
    <span id="axle-distance" name="axleDistance"><%= chair.axleDistance %>"</span>
    <label for="front-wheel-pin">Front Wheel Pin</label>
    <span id="front-wheel-pin" name="frontWheelPin"><%= chair.frontWheelPin %></span>
    <label for="ground-clr">Ground Clearance</label>
    <span id="ground-clr" name="groundClr" ><%= chair.groundClr %>"</span>
    <label for="dump">Dump</label>
    <span id="dump" name="dump"><%= chair.dump %>"</span>
    <label for="seat-width">Seating Surface Width</label>
    <span id="seat-width" name="seatWidth"><%= chair.seatWidth %>"</span>
</div>
