<div id="human-measure" class="mxrx">
    <div class="tmp-internal"><h3>Human Controls</h3></div>
    <form id="humanForm">
        <label for="upper-arm-length">Upper Arm Length</label>
        <input type="text" id="upper-arm-length" name="upperArmLength" value="11" />
        <label for="lower-arm-length">Forearm Length</label>
        <input type="text" id="lower-arm-length" name="lowerArmLength" value="11" />
        <label for="torso-length">Torso Length</label>
        <input type="text" id="torso-length" name="torsoLength" value="25" />
        <label for="trunk-depth">Trunk Depth</label>
        <input type="text" id="trunk-depth" name="trunkDepth" value="9" />
        <label for="contact-point">Forward Contact</label>
        <input type="text" id="contact-point" name="contactPoint" value="2" />
        <label for="thigh-depth">Thigh Depth</label>
        <input type="text" id="upper-leg-length" name="upperLegLength" value="22" />
        <label for="lower-leg-length">Lower Leg Length</label>
        <input type="text" id="lower-leg-length" name="lowerLegLength" value="20" />
        <label for="chest-width">Chest Width</label>
        <input type="text" id="chest-width" name="chestWidth" value="16" />
        <label for="hip-width">Hip Width</label>
        <input type="text" id="hip-width" name="hipWidth" value="DISABLED" disabled />
    </form>
</div>
<div id="wrapper" class="i-app">
    <canvas id="canvas" width="800" height="500" style="background-color:#5a8ac0;" ></canvas>
</div>
